 <!--电影列表开始-->
        <div class="list">
            <ul>
                <li ng-repeat="item in data.subjects">
                    <a href="#/details/{{item.id}}">
                        <img ng-src="{{item.images.large}}" alt="">
                    </a>
                    <div class="meta">
                        <h4><span>{{item.title}}</span> <em>{{item.rating.average}}分</em></h4>
                        <div class="otherinfo">类型:<span>{{item.genres.join(',')}}</span></div>
                    </div>
                </li>
            </ul>
            <div class="paging">
                <label>总共：{{total}}条记录,第{{page}}/{{totalpages}}页;</label>
                <!-- 加上disable类样式，表示按钮禁用状态 -->
                <button ng-class="{'disable':page<=1}" class="prev " ng-click="getpage(-1)">上一页</button>
                <button ng-class="{'disable':page>=totalpages}" class="next" ng-click="getpage(1)">下一页</button>
            </div>
        </div>
        <!--电影列表结束-->
        <div class="loading" ng-show="loading">
            <div class="sk-circle">
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
          </div>
        </div>